<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <nav th:fragment="navbar" class="navbar">
        <a href="/" class="navbar-logo">I-NET</a>
        <ul class="navbar-menu">
            <li><a href="/device/list">장비목록</a></li>
            <li><a href="/device/register">장비등록</a></li>
            <li><a href="/ip/iplist">IP대장</a></li>
            <li><a href="/wireless-ap/list">무선AP</a></li>
            <li><a href="/school/manage">학교관리</a></li>
            <li><a href="/classroom/manage">교실관리</a></li>
            <li><a href="/floorplan">학교평면도</a></li>
            <li><a href="#" class="disabled">제출용파일</a></li>
        </ul>
    </nav>
</body>
</html> 